@import "tailwindcss";
@import "@fontsource/inter";

* {
 html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #EEF8F6;
}
}

body {
  color: #111111;
  font-family: "Inter", sans-serif;
}